<!-- Sidebar Toggle Button (Visible on Mobile Only) -->
<button (click)="toggleSidebar()" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
    </path>
  </svg>
</button>

<!-- Sidebar -->
<aside [ngClass]="{ '-translate-x-full': !sidebarOpen, 'translate-x-0': sidebarOpen }"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform sm:translate-x-0 bg-primary text-white"
  aria-label="Sidebar">
  
  <!-- Close Button -->
  <button (click)="toggleSidebar()" class="absolute top-4 right-4 text-white text-2xl">
    &times; <!-- The "×" character for close -->
  </button>

  <div class="h-full px-3 py-4 overflow-y-auto">
    <a href="#" class="flex items-center ps- mb-5">
      <img src="../../../assets/images/image.png" class="h-16 w-16 me-3 rounded-full object-cover" alt="Logo" />
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">NBAI</span>
    </a>

    <ul class="space-y-2 font-medium">
      <!-- Dashboard -->
      <li>
        <a routerLink="/admin" class="flex items-center p-2 rounded-lg hover:text-gray-100 dark:hover:bg-gray-700 group">
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
  
      <!-- Teachers -->
      <li>
        <a routerLink="manageexam" class="flex items-center p-2 rounded-lg hover:text-gray-100 dark:hover:bg-gray-700 group">
          <span class="ms-3">Manage Exam</span>
        </a>
      </li>
  
      <!-- Result -->
      <li>
        <a routerLink="result" class="flex items-center p-2 rounded-lg hover:text-gray-100 group">
          <span class="ms-3">Result</span>
        </a>
      </li>
  
      <!-- Exam Management -->
      <li>
        <a href="#" class="flex items-center p-2 rounded-lg hover:text-gray-100 dark:hover:bg-gray-700 group">
          <span class="ms-3">Teachers</span>
        </a>
      </li>
  
      <!-- Logout -->
      <li class="mt-5">
        <a href="#" class="flex items-center p-2 rounded-lg text-red-500 hover:text-white dark:hover:bg-gray-700 group">
          <span class="ms-3">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

